@tailwind base;
@tailwind components;
@tailwind utilities;

/* .manual-shadow {
  -webkit-box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
} */
.manual-shadow:hover {
  -webkit-box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 0px 3px rgba(0, 0, 0, 0.75);
}

.active {
  color: rgb(168 85 247);
}
